src/Generic/generics.hpp
src/Generic/debug.hpp
src/Screening/screening_rules.hpp
src/Solvers/abstractsolver.hpp
src/Solvers/solver.hpp
src/Solvers/screeningsolver.hpp
src/Solvers/CoordinateDescent/coordinate_descent.hpp
src/Solvers/SubGradientDescent/FISTA/fista.hpp
src/Solvers/SubGradientDescent/subgradient_descent.hpp
src/Solvers/SubGradientDescent/ISTA/ista.hpp
src/FOS/x_fos.hpp
